@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Condensed:700|Old+Standard+TT:400i');

*{
  box-sizing: border-box;
}

html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
    min-height:100%;
    /* background-repeat: no-repeat;
    background-size: 100%; */
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

body {
  background-image: url('/img/1/bgs/DOO_6789.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  text-align: center;
  margin: 5% 0 3% 0;
}

img {
  width: 300px;
}

span {
  background-color: #222;
  color: #fff;
  padding: 3px 20px 3px 3px;
  margin-right: 200px;
}

main {
  max-width: 300px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  display: block;
  background-color: #222;
  padding: 3px 20px;
  margin: 5px 10px;
}

ul li a{
  text-decoration: none;
  color: #fff;
}

.top-blocks {
    margin-top: 30px;
}

tr.even {
    background-color: #ECF0F1;
}

th, td {
    min-width: 80px;
}

tr.feriado {
    background-color: #18BC9C;
    color: white;
}

tr.tematica {
    background-color: #3498DB;
    color: white;
}

tr.prova {
    background-color: #E74C3C;
    color: white;
}

.container.content {
    margin-top: 20px;
}

a {
    color: #0068BD;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#inner-message {
    margin: 0 auto;
}
