<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <title>{% if post.title %}Revista Agreste - {{ post.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Revista Agreste: Agrupamento de Estudos Excêntricos">
    <meta name="keywords" content="Cinema,Revista,Documentário,Brasil,Estranho,Agrupamento de Estudo Excêntrico">
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/2/frontpage.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png"/>
  </head>

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper background" style="background-image: url('{{ site.baseurl }}/img/2/frontpage.jpg')">
        <header>
          <img src="{{ site.baseurl }}/img/logo-black.svg" />
          <div style="clear:both; height: 15px;">   </div>
          <div style="float:right; padding-right: 40%;">
            <a href="{{ site.baseurl }}/1/sobre"><h1>?</h1></a>
            <a href="{{ site.baseurl }}/1/editorial"><h1>!</h1></a>
          </div>
        </header>
        <div class="container">
          {% for post in site.ed2 %}
            <section>
              <a href="{{ post.url | prepend: site.baseurl }}"><h1>{{ post.title }}</h1>
              <h2>{{ post.autor }}</h2></a>
            </section>
          {% endfor %}
        </div>
      </div>
    </main>

  <script type="text/javascript" src="{{ site.baseurl }}/javascripts/jquery-1.12.2.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/javascripts/jquery.tooltipster.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/javascripts/article.js"></script>
  <script type="text/javascript">
          $(document).ready(function() {
              $('.tooltip').tooltipster();
          });
  </script>

  </body>
</html>
